n8n-workflows/folder-watch.json
{
  "name": "Pantry Receipt Processor",
  "nodes": [
    {
      "parameters": {
        "path": "/data/paragony/inbox",
        "events": ["add"],
        "options": {
          "usePolling": true,
          "pollInterval": 5000
        }
      },
      "id": "folder-watch",
      "name": "Watch Inbox Folder",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.path }}",
              "operation": "regex",
              "value2": "\\.(png|jpg|jpeg|webp)$"
            }
          ]
        }
      },
      "id": "filter-images",
      "name": "Filter Images",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://fastapi:8000/process-receipt",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "={{ $json.path }}"
            }
          ]
        },
        "options": {
          "timeout": 180000
        }
      },
      "id": "process-receipt",
      "name": "Process Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {},
      "id": "success-end",
      "name": "Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1050, 100]
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error }}"
      },
      "id": "error-handler",
      "name": "Log Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {},
      "id": "skip-non-image",
      "name": "Skip Non-Image",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Watch Inbox Folder": {
      "main": [
        [
          {
            "node": "Filter Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Images": {
      "main": [
        [
          {
            "node": "Process Receipt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Non-Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Receipt": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
